<div class="leaderboard mb+">
  <div class="grid grid--middle">
    <div class="grid__item col-1-2">
      <h1>
        Leaderboard
        <a class="h4" href="https://github.com/srcclr/bughunt" target="_blank">(join the hunt)</a>
      </h1>
    </div>
    <div class="grid__item col-1-2 text--right">
      <a
        href="https://twitter.com/share?text=Check%20out%20the%20@srcclr%20Bug%20hunt%20%2B%20leaderboard%20-&hashtags=bugbounty"
        target="_blank"
        title="Share on Twitter"
        class="btn-primary twitter">
        {{fa-icon "twitter" modifier="lg"}}
        Tweet
      </a>
    </div>
  </div>

  {{#if model.columns}}
    <table class="topic-list">
      <thead>
        <tr class="topic-list-item">
          <th>Rank</th>
          {{#each col in model.columns}}
            <th>{{col}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each model.data as |item index|}}
          <tr class="topic-list-item">
            <td>{{inc index}}</td>
            <td>
              <a href="https://twitter.com/{{ item.userName }}">
                {{ item.userName }}
              </a>
            </td>
            {{#each field in item.contestResults}}
              <td>{{field}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="error-page">
      <div class="reason">No challenges found</div>
    </div>
  {{/if}}
</div>
