<div class="leaderboard">
  <div class="leaderboard-header inline-block">
    <h1>Leaderboard</h1>
    <a
      href="https://twitter.com/share?url=https%3A%2F%2Fopenx.srcclr.io%2Fbughunt&amp;text=Check%20out%20the%20BugHunt%20leaderboard%20@srcclr"
      target="_blank"
      title="Share on Twitter"
      class="btn-primary twitter">
      {{fa-icon "twitter" modifier="lg"}}
      Tweet
    </a>
  </div>

  {{#if model.columns}}
    <table class="topic-list">
      <thead>
        <tr class="topic-list-item">
          <th>Rank</th>
          {{#each col in model.columns}}
            <th>{{col}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each model.data as |user index|}}
          <tr class="topic-list-item">
            <td>{{inc index}}</td>
            {{#each field in user}}
              <td>{{field}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="error-page">
      <div class="reason">No challenges found</div>
    </div>
  {{/if}}
</div>
