<div class="leaderboard">
  <div class="leaderboard-header inline-block">
    <h1>Leaderboard</h1>
    <a
      href="https://twitter.com/share"
      class="twitter-share-button btn-primary twitter"
      data-text="Check out the BugHunt leaderboard @srcclr - https://openx.srcclr.io/bughunt"
      data-size="large"
      data-dnt="true">
      {{fa-icon "twitter" modifier="lg"}}
      Tweet
    </a>
  </div>

  {{#if model.columns}}
    <table class="topic-list">
      <thead>
        <tr class="topic-list-item">
          <th>Rank</th>
          {{#each col in model.columns}}
            <th>{{col}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each model.data as |user index|}}
          <tr class="topic-list-item">
            <td>{{inc index}}</td>
            {{#each field in user}}
              <td>{{field}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="error-page">
      <div class="reason">No challenges found</div>
    </div>
  {{/if}}
</div>
